.icons {
}

#github {
    display:inline-block;
    margin-right:10px;
}

#linkedin {
    display:inline-block;
}

.code pre {
    white-space: pre;
    margin-top: 0;
    margin-bottom: .1rem;
    padding: 1rem;
}

.highlighter-coderay {
    overflow-x: auto;
    max-width: 100%;
    scrollbar-color: darkgrey transparent;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

/*.CodeRay {*/
/*    display: inline-block;*/
/*}*/
