.icons {
}

#github {
    display: inline-block;
    margin-right: 10px;
}

#linkedin {
    display: inline-block;
}

#notebook {
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: stretch;
}

#notebook-icon {
    position: relative;
    top: 3px;
}

.highlight {
    max-width: 70ch;
    overflow: auto;
    white-space: pre;
}
